@page "/staff-admin/manage-roomtypedt"
@layout AddminStaff
@using System.Text.Json
@using DangDucThuanFinalYear.HotelDTO.DashboardDTO
@inject IRevenueDashboardService DashboardService

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th, .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #f5f5f5;
    }

    .top-room {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 39px;
    }

    .top-room-box {
        flex: 1;
        border: 1px solid #ddd;
        padding: 20px;
        margin-right: 20px;
        transition: all 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

        .top-room-box:last-child {
            margin-right: 0;
        }

        .top-room-box h4 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 18px;
        }

        .top-room-box p {
            margin: 0;
            font-size: 16px;
        }

        .top-room-box:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
</style>

<h3 style="background-color: transparent; border: none; margin-top: 56px; cursor: pointer; font-size: 20px; color: #27314A; transition: color 0.3s;">Top room types with the highest revenue</h3>

<div class="top-room">
   @*  @{
        var lastThreeItems = model.Skip(Math.Max(0, model.Count() - 3)).Take(3);
    } *@
    @foreach (var item in model.Take(3)) 
    {
        <div class="top-room-box">
            <h4>@item.NameRoomType</h4>
            <p>Revenue: @item.Revenue.ToString("#,##0") VND</p>
        </div>
    }
</div>

<h3 style="background-color: transparent; border: none; margin-top: 56px; cursor: pointer; font-size: 20px; color: #27314A; transition: color 0.3s;">Report By Room Type</h3>

@if (model != null && model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Room Type Name</th>
                <th>Number of bookings</th>
                <th>Revenue</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in model)
            {
                <tr>
                    <td>@item.NameRoomType</td>
                    <td>@item.BookingCount</td>
                    <td>@item.Revenue.ToString("#,##0") VND</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available.</p>
}



@code {
    public List<DashboardResponByRoomType> model = new List<DashboardResponByRoomType>();

    protected override async Task OnInitializedAsync()
    {
        model = await DashboardService.GetRevenueDashboardRoomTypeAsync();
    }

    
}
