@page "/staff-admin/manage-booking"
@using Microsoft.AspNetCore.Components.QuickGrid
@layout AddminStaff
@using DangDucThuanFinalYear.Data.Entities

@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@

@inject IBookingServices BookingServices
@inject IRoomTypeService RoomTypeService
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject NavigationManager NavigationManager

@inject IJSRuntime JsRuntime

<style>


    .d-flex {
        display: flex;
    }

    .align-items-center {
        align-items: center;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .action-buttons button {
        margin-left: 5px;
        padding: 5px 10px;
        font-size: 12px;
    }


</style>

    <div class="d-flex justify-content-center align-items-center" style="margin-top: -10px;">
    <h3 style="color: blue;"><strong>Manage Booking</strong></h3>
    </div>
    <hr />
    <div class="table-responsive" style="margin-top:-36px">
        <QuickGrid ItemsProvider="_bookingsProviders" @ref="_bookingGrid" Pagination="_paginationState" class="table table-striped">
            <PropertyColumn Property="b=>b.Id" Title="Booking ID" />
            <PropertyColumn Property="b=>b.RoomTypeName" Title="Room Type" />
            <TemplateColumn Title="Room Number">
                @if (context.RoomId is null)
                {
                    <label class="d-block">No Room Assigned</label>
                    @if (context.IsRoomNumberAssignable)
                    {
                        <button type="button" class="btn btn-sm btn-primary" @onclick="()=> OpenAssignRoomModalAsync(context)">Assign Room</button>
                    }
                    else
                    {
                        <small>Can be assigned only after payment</small>
                    }
                }
                else
                {
                    <button type="button" class="btn btn-sm btn-primary" @onclick="()=> OpenAssignRoomModalAsync(context)">@context.RoomNumber</button>
                }
            </TemplateColumn>
            <PropertyColumn Property="b=>b.GuestName" Title="Guest" />
            <PropertyColumn Property="b=>b.BookedOn" Title="Booked On" Format="hh:mm:ss dd-MMM-yyyy " />
            <PropertyColumn Property="b=>b.CheckInDateTime" Title="Check-In" Format="dd-MMM-yyyy" />
            <PropertyColumn Property="b=>b.CheckOutDateTime" Title="Check-Out" Format="dd-MMM-yyyy" />
            <PropertyColumn Property="b=>b.Adults" Title="Adults" />
            <PropertyColumn Property="b=>b.Children" Title="Children" />
            <PropertyColumn Property="b=>b.SpecialRequest" Title="Special Request" />
            <PropertyColumn Property="b=>b.BookingStatus" Title="Booking Status" />
            <PropertyColumn Property="b=>b.Remarks" Title="Remarks" />
            <TemplateColumn Class="action-buttons">
                <button type="button" class="btn btn-sm btn-success" disabled="@(!context.CanBeApproved)" @onclick="() => ApproveBookingAsync(context)">Approve</button>
            </TemplateColumn>
            <TemplateColumn>
                <button type="button" class="btn btn-sm btn-danger" disabled="@(!context.CanBeCancelled)" @onclick="() => CanncelBookingAsync(context)">Cancel</button>
            </TemplateColumn>
        </QuickGrid>
    </div>
    <Paginator State="_paginationState" />

@if(_isLoading)
{
    <Loader LoadingText="Fetching bookings" />
}
<DialogCompanent DialogId="assign-room-to-booking" Show="_booking is not null" 
    Title="Assign/Change Room to Booking" OnCloseModal="HandleAssignRoomModalClose">
    <div>
        <select @bind="_slectedRoomId" class="form-control">
            <option value="0">Select Room</option>
            @foreach(var room in _rooms)
            {
                <option value="@room.Id">@room.RoomNumber</option>
            }"
        </select>
        <button type="button" class="btn btn-primary" @onclick="AssignRoomAsync">Assign</button>
    </div>
</DialogCompanent>
<style type="text/css" scoped>
    .test{
        min-width: 190px;
    }

</style>


@code {
    private bool _isLoading;
    private QuickGrid<BookingDisplayModel> _bookingGrid;
    private GridItemsProvider<BookingDisplayModel>? _bookingsProviders;
    private const int PageSize = 10;
    private PaginationState _paginationState = new PaginationState{ItemsPerPage = PageSize};
    private Room[] _rooms = [];
    private int _slectedRoomId;
    private BookingDisplayModel? _booking;


    protected override void OnInitialized()
    {
        _bookingsProviders = async (GridItemsProviderRequest<BookingDisplayModel> request) =>
        {
            _isLoading = true;
            StateHasChanged();

            //Load Data booking
            var result = await BookingServices.GetBookingAsync(request.StartIndex, request.Count ?? PageSize);


            _isLoading = false;
            StateHasChanged();

            return GridItemsProviderResult.From<BookingDisplayModel>(result.Records, result.TotalCount);
        };
    }

    private async Task OpenAssignRoomModalAsync(BookingDisplayModel booking)
    {
        var rooms = await RoomTypeService.GetRoomsAllAsync(booking.RoomTypeId);
        if(rooms is null ||rooms.Length == 0)
        {
            await AlertAsync("No rooms available for this room type");
            return;
        }
        if(!rooms.Any(x => x.IsAvaiable))
        {
            await AlertAsync("No rooms available for this room type");
            return;
        }
        _rooms = rooms.ToArray();
        _booking = booking;
    }
    private async Task AlertAsync(string message) =>
    await JsRuntime.InvokeVoidAsync("window.alert", message);

    private void HandleAssignRoomModalClose()
    {
        _booking = null;
        _rooms = [];
        _slectedRoomId = 0;
    }

    private async Task AssignRoomAsync()
    {
        if(_booking is not null  && _slectedRoomId > 0)
        {
            var result = await RoomTypeService.AssignRoomToUserAsync(_booking.Id, _slectedRoomId);
            if(!result.IsSuccess)
            {
                await AlertAsync($"Error in Assigning/changing room ");
                return;
            }
            HandleAssignRoomModalClose();
            await _bookingGrid.RefreshDataAsync();
        }
    }

    private async Task<bool> ComfirmAsync(string mess)=> await JsRuntime.InvokeAsync<bool>("window.confirm", mess);

    private async Task ApproveBookingAsync(BookingDisplayModel booking)
    {
        if(booking.CanBeApproved)
        {
            if(await ComfirmAsync("Are you sure ,you want to approve this booking?"))
            {
                var result = await BookingServices.ApproveBookingAsync(booking.Id);
                if(!result.IsSuccess)
                {
                    await AlertAsync(result.ErrorMessage ?? "Error in approving booking");
                }
                else
                {
                    await _bookingGrid.RefreshDataAsync();
                }

            }

        }

    }
    private async Task<string?> GetUser()
    {
        var AuthState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (AuthState.User?.Identity?.IsAuthenticated == true)
        {
            return AuthState.User.GetUserId();
        }
        NavigationManager.NavigateTo("/account/login");
        return null;

    }

    private async Task CanncelBookingAsync(BookingDisplayModel booking)
    {
        if(booking.CanBeCancelled)
        {
            if(await ComfirmAsync("Are you sure ,you want to cancel this booking?"))
            {
                var guestId = await GetUser();
                if (guestId is null)
                {
                    return ;
                }
                var reason = await JsRuntime.InvokeAsync<string?>("window.prompt", "Enter reason for cancellation:");
                if (string.IsNullOrWhiteSpace(reason))
                {
                    await AlertAsync("Reason is required for cancellation");
                    return;
                }

                var result = await BookingServices.CancelBookingAsync(booking.Id, reason, guestId);
                if (!result.IsSuccess)
                {
                    await AlertAsync(result.ErrorMessage ?? "Error in Canncelling booking");
                }
                else
                {
                    await _bookingGrid.RefreshDataAsync();
                }

            }
        }
    }
}
